.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
}

.grid-item {
width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  text-align: center;
}

.grid-item input {
  width: 100%;
  height: 100%;
  border: none;
}